body {
    margin: 0;
    margin-bottom: 40px;
  }

.contenedorInput{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
   
}

.input1{
    display: grid;
    grid-template-columns: 5px 100px;
    gap: 15px;
    
}
p,h3{
    color:white;
}

footer{
    position:fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 60px;
    
  }
  .suma{
    margin-bottom: 80px;
  }